body {
	background-image: url("background.png");
	background-repeat: no-repeat;
	overflow-y: hidden;
}

a {
	color: #796189;
	text-decoration: none;
}

a:hover {
	color: #4A3B54;
	font-weight: bold;
	text-decoration: none;
}

div {
	padding: 30px;
	text-align: center;
}

input[type="text"] {
  padding: 4px;
  width: 200px;
}

#user-name {
	width: 500px;
	font-size: 2em;
}

#join-chat {
	float: left;
	border-style: solid;
	border-width: 5px;
	border-color: #1A7F7F;
	border-radius: 10px;
	background-color: rgba(155,203,204,0.6);
	height: 200px;
	width: 45%;
	display: inline;
}

#new-chat {
	float: right;
	border-style: solid;
	border-width: 5px;
	border-color: #1A7F7F;
	border-radius: 10px;
	background-color: rgba(155,203,204,0.6);
	height: 200px;
	width: 45%;
	display: inline;
}

#chat-buttons-container {
	width: 60%;
	margin: 0 auto;
}

span {
	font-size: 1.5em;
}

.arrow {
	font-size: 1em;
	color: white;
}

#name-label {
	font-size: 2em;
	padding: 5px;
}

button {
	background-color: #1A7F7F;
	border-style: solid;
	border-color: #1A7F7F;
	color: white;
	
	transition: all 0.1s;
}

button:focus {
  box-shadow: 0px 0px 5px #1A7F7F;
  opacity: 0.9;
}

button:hover {
  box-shadow: 0px 0px 5px #1A7F7F;
  opacity: 0.9;
}

#leave  {
	float: right;
}

#chat-name {
	float: left;
}

#chat-container {
	display: block;
}

#chat-header, #chat-body {
	border-style: solid;
	border-width: 5px;
	border-color: #1A7F7F;
	border-radius: 10px;
	background-color: rgba(155,203,204,0.6);
	width: 50%;
	margin: 0 auto;
	text-align: center;
}

#chat-body {
	height: 350px;
	overflow: auto;
	padding: 5px;
}

#chat-header {
	padding-top: 10px;
	padding-bottom: 10px;
	display: table;
}

::-webkit-scrollbar {
    background: #79b9bb;
	width: 20px;
}


::-webkit-scrollbar-thumb {
    background: #1A7F7F;
	border-radius: 10px;
	border: 3px solid;
	border-color: #79b9bb;
}

#space {
	margin: 10px;
}

.user {
	border-style: solid;
	border-width: 5px;
	border-color: #1A7F7F;
	border-radius: 10px;
	background-color: rgba(159, 128, 181, 0.5);
	margin-bottom: 10px;
	height: 100px;
}

.user-id {
	float: left;
}

.mute-button {
	float: right;
}

#view-container{
	padding: 0px;
}

#chat-name {
	font-weight: bold;
}

#header-div {
	padding-top: 5px;
	padding-bottom: 5px;
}

/* loader element from http://projects.lukehaas.me/css-loaders/ */
.loader {
  font-size: 90px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin: 0.8em auto;
  position: relative;
  -webkit-animation: load6 1.7s infinite ease;
  -moz-animation: load6 1.7s infinite ease;
  animation: load6 1.7s infinite ease;
}
@-webkit-keyframes load6 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: -0.11em -0.83em 0 -0.4em #ffffff, -0.11em -0.83em 0 -0.42em #ffffff, -0.11em -0.83em 0 -0.44em #ffffff, -0.11em -0.83em 0 -0.46em #ffffff, -0.11em -0.83em 0 -0.477em #ffffff;
  }
  5%,
  95% {
    box-shadow: -0.11em -0.83em 0 -0.4em #ffffff, -0.11em -0.83em 0 -0.42em #ffffff, -0.11em -0.83em 0 -0.44em #ffffff, -0.11em -0.83em 0 -0.46em #ffffff, -0.11em -0.83em 0 -0.477em #ffffff;
  }
  30% {
    box-shadow: -0.11em -0.83em 0 -0.4em #ffffff, -0.51em -0.66em 0 -0.42em #ffffff, -0.75em -0.36em 0 -0.44em #ffffff, -0.83em -0.03em 0 -0.46em #ffffff, -0.81em 0.21em 0 -0.477em #ffffff;
  }
  55% {
    box-shadow: -0.11em -0.83em 0 -0.4em #ffffff, -0.29em -0.78em 0 -0.42em #ffffff, -0.43em -0.72em 0 -0.44em #ffffff, -0.52em -0.65em 0 -0.46em #ffffff, -0.57em -0.61em 0 -0.477em #ffffff;
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    box-shadow: -0.11em -0.83em 0 -0.4em #ffffff, -0.11em -0.83em 0 -0.42em #ffffff, -0.11em -0.83em 0 -0.44em #ffffff, -0.11em -0.83em 0 -0.46em #ffffff, -0.11em -0.83em 0 -0.477em #ffffff;
  }
}
@keyframes load6 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: -0.11em -0.83em 0 -0.4em #ffffff, -0.11em -0.83em 0 -0.42em #ffffff, -0.11em -0.83em 0 -0.44em #ffffff, -0.11em -0.83em 0 -0.46em #ffffff, -0.11em -0.83em 0 -0.477em #ffffff;
  }
  5%,
  95% {
    box-shadow: -0.11em -0.83em 0 -0.4em #ffffff, -0.11em -0.83em 0 -0.42em #ffffff, -0.11em -0.83em 0 -0.44em #ffffff, -0.11em -0.83em 0 -0.46em #ffffff, -0.11em -0.83em 0 -0.477em #ffffff;
  }
  30% {
    box-shadow: -0.11em -0.83em 0 -0.4em #ffffff, -0.51em -0.66em 0 -0.42em #ffffff, -0.75em -0.36em 0 -0.44em #ffffff, -0.83em -0.03em 0 -0.46em #ffffff, -0.81em 0.21em 0 -0.477em #ffffff;
  }
  55% {
    box-shadow: -0.11em -0.83em 0 -0.4em #ffffff, -0.29em -0.78em 0 -0.42em #ffffff, -0.43em -0.72em 0 -0.44em #ffffff, -0.52em -0.65em 0 -0.46em #ffffff, -0.57em -0.61em 0 -0.477em #ffffff;
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    box-shadow: -0.11em -0.83em 0 -0.4em #ffffff, -0.11em -0.83em 0 -0.42em #ffffff, -0.11em -0.83em 0 -0.44em #ffffff, -0.11em -0.83em 0 -0.46em #ffffff, -0.11em -0.83em 0 -0.477em #ffffff;
  }
}
