body {
	background-image: url("background.png");
}

h1 {
	text-align: center;
	font-style: bold;
}

a {
	color: #796189;
	text-decoration: none;
}

a:hover {
	color: #4A3B54;
	font-weight: bold;
	text-decoration: none;
}

div {
	padding: 30px;
	text-align: center;
}

#user-name {
	width: 500px;
	font-size: 2em;
}

#join-chat {
	float: left;
	border-style: solid;
	border-width: 5px;
	border-color: #1A7F7F;
	border-radius: 10px;
	background-color: rgba(155,203,204,0.6);
	height: 200px;
}

#new-chat {
	float: right;
	border-style: solid;
	border-width: 5px;
	border-color: #1A7F7F;
	border-radius: 10px;
	background-color: rgba(155,203,204,0.6);
	height: 200px;
}

#chat-buttons-container {
	width: 60%;
	margin: 0 auto;
}

span {
	font-size: 1.5em;
}

.arrow {
	font-size: 1em;
	color: white;
}

#name-label {
	font-size: 2em;
	padding: 5px;
}

button {
	background-color: #1A7F7F;
	border-style: solid;
	border-color: #1A7F7F;
	color: white;
}

#leave  {
	float: right;
}

#chat-name {
	float: left;
}

#chat-container {
	display: block;
}

#chat-header, #chat-body {
	border-style: solid;
	border-width: 5px;
	border-color: #1A7F7F;
	border-radius: 10px;
	background-color: rgba(155,203,204,0.6);
	width: 50%;
	margin: 0 auto;
	text-align: center;
}

#chat-body {
	height: 400px;
	overflow: auto;
	padding: 5px;
}

#chat-header {
	padding-top: 10px;
	padding-bottom: 10px;
	display: table;
}

::-webkit-scrollbar {
    background: #79b9bb;
	width: 20px;
}


::-webkit-scrollbar-thumb {
    background: #1A7F7F;
	border-radius: 10px;
	border: 3px solid;
	border-color: #79b9bb;
}

#space {
	margin: 10px;
}

.user {
	border-style: solid;
	border-width: 5px;
	border-color: #1A7F7F;
	border-radius: 10px;
	background-color: rgba(159, 128, 181, 0.5);
}

.user-id {
	float: left;
}

.mute-button {
	float: right;
}

#view-container{
	padding: 0px;
}