<div id="enter-name-box">
	<label id="name-label">enter your name: </label>
	<input type="text" id="user-name" />
</div>

<div id="buttons-container">
  <button id="show-join-form" class="btn-lg">
    Join A Chat
  </button>
  <button id="show-create-form" class="btn-lg">
    Create A Chat
  </button>
</div>

<div class="forms-container">
	<div id="join-form" class="chatroom-form-container">
		<div id="join-chat" class="chatroom-form">
			<span>join a chat</span>
			<br/><br/>
			<input type="text" id="join-chat-id" placeholder="Name of the room to join" />
			<button id="join-chat-btn">
			  <span class="arrow">
			    <i class="glyphicon glyphicon-ok"></i>
			  </span>
			</button>
		</div>
	</div>
	
	<div id="create-form" class="chatroom-form-container">
	  <div id="new-chat" class="chatroom-form">
			<span>create a chat</span>
			<br/><br/>
			<input type="text" id="new-chat-id" placeholder="Name of the room to create" />
			<button id="new-chat-btn">
			  <span class="arrow">
			    <i class="glyphicon glyphicon-ok"></i>
			  </span>
			</button>
		</div>
	</div>
</div>