	<div id="enter-name-box">
			<label id="name-label">enter your name: </label>
			<input type="text" id="user-name" />
		</div>
	</div>
	<div id="chat-buttons-container">
		<div id="join-chat">
			<span>join a chat</span>
			<br/><br/>
			<label>enter id: </label>
			<input type="text" id="chat-id" />
			<button id="chat-btn"><a href="#join"><span class="arrow">&rarr;</a></button>
		</div>
		<div id="new-chat">
			<span>create a chat</span>
			<br/><br/>
			<label>create id: </label>
			<input type="text" id="new-chat-id" />
			<button id="new-chat-btn"><span class="arrow">&rarr;</button>
		</div>
	</div>