	<div id="enter-name-box">
		<label id="name-label">enter your name: </label>
		<input type="text" id="user-name" />
	</div>
	<div id="chat-buttons-container">
		<div id="join-chat">
			<span>join a chat</span>
			<br/><br/>
			<input type="text" id="join-chat-id" placeholder="Name of the room to join" />
			<button id="join-chat-btn">
			  <span class="arrow">
			    <i class="glyphicon glyphicon-ok"></i>
			  </span>
			</button>
		</div>
		<div id="new-chat">
			<span>create a chat</span>
			<br/><br/>
			<input type="text" id="new-chat-id" placeholder="Name of the room to create" />
			<button id="new-chat-btn">
			  <span class="arrow">
			    <i class="glyphicon glyphicon-ok"></i>
			  </span>
			</button>
		</div>
	</div>
