	<div id="chat-container">
		<div id="chat-header">
			<p><span id="chat-name">chat name</span>
			<span id="leave"><a href="#">leave</a></span></p>
		</div><p id="space"></p>
		<div id="chat-body">
			<div class="user">
			`<span class="user-id">NAME</span>
			 <span class="user-info">infoinfoinfo</span>
			 <span class="mute-button">mute</span>
			</div>
		</div>

		<br /> <br /> <br />
		<h1>make explicit call</h1>
		<h2>@TODO remove this</h2>
		<input id="explicit-call-id" type="text" placeholder="id to call..." />
		<button id="explicit-call-btn">call</button>
	</div>
